@model PagedList.IPagedList<NexusCommunicationSystem.Models.RetailStore>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var limit = ViewBag.limit is int ? (int)ViewBag.limit : 10;
    var keyword = ViewBag.Keyword;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form method="post" action="/RetailStores/Index">
        <p style="font-weight: bold">Search retail store</p>
        <input style="max-width: 320px" class="form-control" type="text" name="keyword" placeholder="Search by name or address" value="@ViewBag.Keyword" /><br />
    </form>

</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <a href="#myModal_@Html.DisplayFor(modelItem => item.Id)" class="trigger-btn" data-toggle="modal" style="margin:0">Delete</a>
                <div id="myModal_@Html.DisplayFor(modelItem => item.Id)" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Are you sure?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete these records? This process cannot be undone.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, limit = limit, keyword }))
}
