@model IEnumerable<NexusCommunicationSystem.Models.Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <input type="checkbox" class="acceptAllBox" name="acceptAllBox" id="acceptAllBox" value="trung"/>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextPaymentAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discounts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" class="acceptBox" name="acceptBox" value="@item.Id"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Convert.ToDateTime(item.UpdatedAt).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityDeposit)
            </td>
            <td>
                <span class="money">@Html.DisplayFor(modelItem => item.TotalAmount)</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Convert.ToDateTime(item.NextPaymentAt).ToString("dd/MM/yyyy")
            </td>
            <td>
                @String.Format("{0:0.0%}", item.Discounts)
            </td>
            <td class="acceptedBy">
                @Html.DisplayFor(modelItem => item.AcceptedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }


</table>
@section Scripts {
    <script type="text/javascript">
        var data;

        $(document).ready(function () {
            $('.acceptedBy').each(function () {
                if ($(this).text() && $(this).text().trim() != "") {
                    $(this).closest('tr').children('td,th').css('background-color', '#a0f2e7');
                    $(this).closest('tr').find('[type=checkbox]').prop('checked', true);

                }
            })
        })

        $('.acceptBox').change(function () {
            if ($(this).is(':checked')) {
                data = {
                    contractId: $(this).val(),
                    checkedStatus: 1,
                }
                $(this).closest('tr').children('td,th').css('background-color', '#a0f2e7');
                $(this).closest('tr').children('.acceptedBy').text('@Session["AccountName"]');
                CallAjaxForAccept();
            }
            else {
                data = {
                    contractId: $(this).val(),
                    checkedStatus: 0,
                }
                $(this).closest('tr').children('td,th').css('background-color', '#ffffff');
                $(this).closest('tr').children('.acceptedBy').text('');
                CallAjaxForAccept();
            }
        });

        $('#acceptAllBox').click(function () {
            if ($(this).is(':checked')) {
                $('input:checkbox:not(:checked)').not(this).click();
                
            }
            else {
                $('input:checkbox:checked').not(this).click();
            }
        });

        function CallAjaxForAccept() {
                $.ajax({
                url: '/Contracts/AcceptContract',
                type: 'POST',
                data: data,
                    success: function (response) {
                        return response;
                }
            });
        }
    </script>
}

