@model IEnumerable<NexusCommunicationSystem.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Employees</h2>

<p>
    <a href="@Url.Action("Create", "Accounts")" class="glyphicon glyphicon-plus">
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Retail Store
        </th>
        <th>
            Full Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RetailStore.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountId)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Accounts",new { id=item.Id })" class="glyphicon glyphicon-pencil">
            </a>
            <a href="@Url.Action("Details", "Accounts",new { id=item.Id })" class="glyphicon glyphicon-list-alt">
            </a>
            <a href="@Url.Action("Delete", "Accounts",new { id=item.Id })" class="glyphicon glyphicon-trash">
            </a>
        </td>
    </tr>
}

</table>
