@model PagedList.IPagedList<NexusCommunicationSystem.Models.Account>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var limit = ViewBag.limit is int ? (int)ViewBag.limit : 10;
    var keyword = ViewBag.Keyword;
}

<h2>Employees</h2>

<p>
    <a href="@Url.Action("Create", "Accounts")" class="glyphicon glyphicon-plus">
    </a>
</p>
<div>
    <form method="post" action="/Customers/Index">
        <p style="font-weight: bold">Search accounts</p>
        <input style="max-width: 320px" class="form-control" type="text" name="keyword" placeholder="Search by email or name" value="@ViewBag.Keyword" /><br />
    </form>

</div>
<table class="table">
    <tr>
        <th>
            Retail Store
        </th>
        <th>
            Full Name
        </th>
        <th>Email</th>
        <th>Password</th>
        <th>UserRole</th>
        <th>AccountId</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RetailStore.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Accounts",new { id=item.Id })" class="glyphicon glyphicon-pencil">
                </a>
                <a href="@Url.Action("Details", "Accounts",new { id=item.Id })" class="glyphicon glyphicon-list-alt">
                </a>
                <a href="#" class="glyphicon glyphicon-trash deleteItem" id=@item.Id>
                </a>
            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, limit = limit, keyword }))
}
@section Scripts {
    <script type="text/javascript">
        var data;
        $('.deleteItem').click(function () {

            data = {
                id:$(this).attr("id")
            };
            console.log(data);
            alert("Do you want to delete this item");
            CallAjaxForDeleteItem();
        })

        function CallAjaxForDeleteItem() {
                $.ajax({
                url: '/Accounts/DeleteConfirmed',
                type: 'POST',
                data: data,
                    success: function (response) {
                        location.reload(true);
                }
            });
        }
    </script>

}
