@model PagedList.IPagedList<NexusCommunicationSystem.Models.Feedback>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var limit = ViewBag.limit is int ? (int)ViewBag.limit : 10;
    var keyword = ViewBag.Keyword;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form method="post" action="/Feedbacks/Index">
        <p style="font-weight: bold">Search feedbacks</p>
        <input style="max-width: 320px" class="form-control" type="text" name="keyword" placeholder="Search by customer" value="@ViewBag.Keyword" /><br />
    </form>

</div>
<table class="table">
    <tr>
        <th>Content</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Convert.ToDateTime(item.UpdatedAt).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 1)
{
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, limit = limit, keyword }))
}
